---
title: Blog
description: Keep up with the latest news.
---

<div class="text-container">
	<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Post</a></p>
	<ul class="blog-posts">
		{% include list-posts.html posts=paginator.posts %}
	</ul>

	{% if paginator.total_pages > 1 %}
		<!-- Pagination links -->
		<a class="twitter-timeline" href="https://twitter.com/stakedmining?ref_src=twsrc%5Etfw">Tweets by stakedmining</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	{% endif %}
</div>
